.body-container {
    display: flex;
    flex-direction: row;
  }
  
  .body-left {
    flex-basis: 66.67%;
    padding: 20px;
  }
  
  .body-right {
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
    padding: 20px;
    margin-top: 30px;
    border-left: 1px solid black;
  }
 