.NavBar {
    height: 175px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.header-text {
    display: flex;
    font-size: 50px;
}
    
.header-links {
    display: flex;
    color: black;

}